# http://editorconfig.org
# 文件的格式风格全部都用idea默认的设置，可以在Settings->Editor->Code Style设置
# root = true

# [*]
# charset = utf-8
# indent_style = space
# indent_size = 4
# end_of_line = lf
# insert_final_newline = true
# trim_trailing_whitespace = true
