<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false" debug="false">

    <contextName>com.zfoo.tank.admin</contextName>

    <property name="LOG_HOME" value="log/"/>
    <property name="PATTERN_FILE"
              value="%d{yyyy-MM-dd HH:mm:ss} [%-5level] [%thread] %logger.%M\\(%F:%line\\) - %msg%n"/>
    <property name="PATTERN_CONSOLE"
              value="%d{yyyy-MM-dd HH:mm:ss} [%highlight(%-5level)] [%thread] %logger.%M\\(%F:%line\\) - %msg%n"/>
    <!-- 负责写日志,控制台日志，会打印所有的包的所有级别日志 -->
    <appender name="zfoo_console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN_CONSOLE}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 根logger -->
    <root level="info">
        <appender-ref ref="zfoo_console"/>
    </root>

    <logger name="ch.qos.logback" level="info"/>
    <logger name="org.springframework" level="info"/>
    <logger name="io.netty" level="info"/>

</configuration>
