<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:event="http://www.zfoo.com/schema/event"
       xmlns:net="http://www.zfoo.com/schema/net"
       xmlns:orm="http://www.zfoo.com/schema/orm"
       xmlns:scheduler="http://www.zfoo.com/schema/scheduler"
       xmlns:storage="http://www.zfoo.com/schema/storage"
       xmlns:context="http://www.springframework.org/schema/context"

       xmlns="http://www.springframework.org/schema/beans"

       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd

    http://www.zfoo.com/schema/event
    http://www.zfoo.com/schema/event-1.0.xsd

    http://www.zfoo.com/schema/net
    http://www.zfoo.com/schema/net-1.0.xsd

    http://www.zfoo.com/schema/orm
    http://www.zfoo.com/schema/orm-1.0.xsd

    http://www.zfoo.com/schema/scheduler
    http://www.zfoo.com/schema/scheduler-1.0.xsd

    http://www.zfoo.com/schema/storage
    http://www.zfoo.com/schema/storage-1.0.xsd">


    <context:property-placeholder location="classpath:deploy-${spring.profiles.active}.properties"/>

    <event:event id="eventBus"/>

    <scheduler:scheduler id="schedulerManager"/>

    <storage:storage id="resourceManager">
        <storage:scan package="${storage.excel.scan}"/>
        <storage:resource location="${storage.excel.location}" suffix="${storage.excel.suffix}"/>
    </storage:storage>

    <net:config id="tankAdmin" protocol-location="protocol.xml">

        <net:registry center="${registry.center}" user="${registry.user}" password="${registry.password}">
            <net:address name="${registry.address.name}" url="${registry.address.url}"/>
        </net:registry>

        <net:consumers>
            <net:consumer protocol-module="tankHome" load-balancer="consistent-hash" consumer="tankHomeProvider"/>
        </net:consumers>
    </net:config>

    <orm:config id="mongodbConfig" entity-package="com.zfoo.tank.admin.**.entity">

        <orm:host database="${mongodb.database}" user="${mongodb.user}" password="${mongodb.password}">
            <orm:address name="${mongodb.address.name}" url="${mongodb.address.url}"/>
        </orm:host>

        <!-- 缓存策略 -->
        <orm:caches>
            <orm:cache strategy="hundred" size="100" expire-millisecond="600000"/>
            <orm:cache strategy="tenThousand" size="10000" expire-millisecond="600000"/>
        </orm:caches>

        <!-- 持久化策略 -->
        <orm:persisters>
            <orm:persister strategy="cron30s" type="cron" config="0/30 * * * * ?"/>
            <orm:persister strategy="time30s" type="time" config="30000"/>
        </orm:persisters>
    </orm:config>

</beans>
